table {
    max-width: 727px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.header-row {
    padding: 0%;
}

.title {
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-left: 0%;
    padding-right: 0%;
    flex: 0.8;
}

.title a {
    font-size: 1.25em;
    font-weight: bold;
    color: #8cb48c;
}

.title a:hover {
    color: #77A677;
}

.title a:visited {
    color: #8cb48c;
}

.title a:active {
    color: #77A677;
}

.date {
    font-size: 1.25em;
    color: #888888;
    text-align: right;

    padding-left: 0%;
    padding-right: 0%;
    
    flex: 0.2;
}

.description {
    font-size: 1.25em;
    color: #bbbbbb;
    
    text-align:justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;

    padding: 0%;
}

th,
td {
  border: 0;
  text-align: left;
}