:root, .theme-default {
    --color-background: #111111;
    --color-text: #8cb48c;

    --color-text-left-gradient: #8cb48c;
    --color-text-right-gradient: #77A677;

    font-family: monospace;
}

body {
    background-color: var(--color-background);
    background: radial-gradient(circle, #111111 0%, #111111 33%, #000900 67%, #111111 100%);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-width: 727px;
    margin: auto;
}

h1 {
    background: var(--color-text-left-gradient);
    background: linear-gradient(to right, var(--color-text-left-gradient) 0%, var(--color-text-right-gradient) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 2em;
    font-weight: normal;
}

subtitle {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 2rem;
}

b1 {
    color: #bbbbbb;
    font-size: 1.25em;
}

.button-group {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

button {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-size: 1.25em;
    cursor: pointer;
    font-family: monospace;
    padding: 1em 0.5em;


    text-decoration-style: solid;
    text-decoration-color: var(--color-text);
    text-decoration-line: underline;
}

button:hover {
    color: var(--color-text-right-gradient);
}