---
import '../styles/default.css'
import '../styles/landing.css'

import PageLayout from '../layouts/defaultlayout.astro'
---
<PageLayout>
	<body>
		<h1>baz dot net</h1>

		<subtitle>Doer of things</subtitle>
		
		<b1>I have some real insightful content to add here some day.</b1>

		<div class="button.group">
			<button onclick="window.location.href='/blog'">blog</button>
		</div>
	</body>
</PageLayout>
