---
import '../styles/default.css'
import '../styles/header.css'
---

<header>
    <a onclick="window.location.href='/'">baz dot net</a>
		<div class="button.group">
			<button onclick="window.location.href='/blog'">blog!</button>
		</div>
</header>