---
import '../styles/default.css'
import '../styles/post.css'

import Defaultlayout from './defaultlayout.astro'

import Header from '../components/header.astro'

const { frontmatter } = Astro.props;
---

<Defaultlayout title={frontmatter.title}>
    <Header />
    <div class="post-content">
        <slot />
    </div>
</Defaultlayout>